<router-outlet>
  <button routerLink=''>홈</button>
  <button routerLink='from'>from operator</button>
  <button routerLink='filter'>filter operator</button>
  <button routerLink='skip'>skip operator</button>
  <button routerLink='skipWhile'>skipWhile operator</button>
  <button routerLink='take'>take operator</button>
  <button routerLink='distinct'>distinct operator</button>
  <button routerLink='reduce'>reduce operator</button>
  <button routerLink='single'>single operator</button>
  <button routerLink='map'>map operator</button>
  <button routerLink='pluck'>pluck operator</button>
  <button routerLink='flatMap'>flatMap operator</button>
</router-outlet>
